body {
    color: #424242;
}

.jumbotron {
    margin-top: 10px;
}

#notifications {
    position: fixed;
    top: 0.1em;
    z-index: 2000;
}

/* Ticket/project list*/

.ticket,
.project {
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    overflow: hidden;
}

.ticket:hover,
.project:hover {
    background-color: #BDBDBD;
    cursor: pointer;
}

.ticket h4,
.project h4 {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.ticket h5 {
    max-width: 200px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 3px;
    float: right;
    display: inline-block;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .ticket h5 {
        display: none;
    }
}

.new-ticket,
.new-project {
    border: 1px dashed #9E9E9E;
    color: #757575;
}

.new-ticket span,
.new-project span {
    float: left;
}

.ticket .type {
    font-size: 1em;
    float: left
}

.ticket .priority {
    font-size: 1.6em;
    float: right;
    margin-top: 0.2em;
    margin-right: 10px;
}

.ticket .status {
    font-size: 1.6em;
    float: right;
    margin-top: 0.2em;
    margin-right: 10px;
}


/* ticket/project edit*/

.form-custom input {
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-custom textarea {
    font-size: 1em;
    resize: none;
    font-weight: bold;
}

.dropdown-toggle {
    margin-left: 10px;
}

.dropdown-toggle i {
    font-size: 1.3em;
    margin-right: 0.2em;
}

.dropdown-item i {
    font-size: 1.5em;
    margin-right: 0.2em;
}

.dropdown-toggle span,
.dropdown-item span {
    font-size: 0.8em;
    margin-right: 0.2em;
}

.dropdown-toggle span .fa-stack-2x,
.dropdown-item span .fa-stack-2x {
    font-size: 2em;
    margin: 0;
}

.dropdown-toggle span .fa-stack-1x,
.dropdown-item span .fa-stack-1x {
    font-size: 1em;
    margin: 0;
}

.dropdown {
    display: inline-block;
}


/* login/register forms*/

.form-signin {
    max-width: 330px;
}

.custom-form {
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
}

.form-signin {
    padding: 0;
    margin: 0 auto;
    margin-top: 60px;
}

.form-register {
    max-width: 600px;
}

.form-heading,
.custom-form .checkbox,
    {
    margin-bottom: 10px;
}

.custom-form .checkbox {
    font-weight: 400;
}

.custom-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.custom-form .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
