Options +FollowSymlinks -MultiViews

#Error processing
ErrorDocument 401 /error?error=401
ErrorDocument 403 /error?error=403
ErrorDocument 404 /error?error=404
ErrorDocument 500 /error?error=500

RewriteEngine On

#Remove .php from file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond /%{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]

#Forbid access to some folders
RewriteRule ^template/(.*) /error?error=404 [L]
RewriteRule ^sql/(.*) /error?error=404 [L]
RewriteRule ^doc/(.*) /error?error=404 [L]

#API processing
RewriteRule ^api/(.*) api/index.php [L]

#Application processing
RewriteRule ^ticket/(.*) /ticket-edit.php [L]
RewriteRule ^project/(.*) /project-edit.php [L]